<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--	<link rel="stylesheet" href="jquery.bxslider/jquery.bxslider.css"/>-->
	<!-- title -->
	<title>NODEMAIN</title>

	<!-- favicon -->
	<!--标签栏图标-->
	<!--	<link rel="shortcut icon" type="image/png" href="static/img/favicon.png">-->
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.2.1.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- barfiller -->
	<link rel="stylesheet" href="{% static 'css/barfiller.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
	
	<!-- preloader -->
	<div class="preloader-wrap">




		<div class="preloader-wrap-table">
			<div class="preloader-wrap-tablecell">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- preloader end -->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
						<!--点击logo跳转到当前页面即base.html-->
							<a href="/#/">
<!--								<img src="static/img/logo.png" alt="">-->

								<h5>NODEMAIN</h5>
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="#">蚂蚁矿机</a>
<!--									<ul class="sub-menu">-->
<!--										<li><a href="base.html">static Home</a></li>-->
<!--										<li><a href="homepage-2.html">Slider Home</a></li>-->
<!--									</ul>-->
								</li>
								<li><a href="#">人工智能</a></li>
								<li><a href="#">蚂蚁矿池</a>
<!--									<ul class="sub-menu">-->
<!--										<li><a href="404.html">404 page</a></li>-->
<!--										<li><a href="about.html">About</a></li>-->
<!--										<li><a href="cart.html">Cart</a></li>-->
<!--										<li><a href="checkout.html">Check Out</a></li>-->
<!--										<li><a href="contact.html">Contact</a></li>-->
<!--										<li><a href="news.html">News</a></li>-->
<!--										<li><a href="projects.html">Projects</a></li>-->
<!--										<li><a href="services.html">Services</a></li>-->
<!--										<li><a href="shop.html">Shop</a></li>-->
<!--									</ul>-->
								</li>
								<li><a href="/news">节点新闻</a>
									<ul class="sub-menu">
										<li><a href="#">热点新闻</a></li>
										<li><a href="#">实时新闻</a></li>
									</ul>
								</li>
								<li><a href="#">技术支持</a>
<!--									<ul class="sub-menu">-->
<!--										<li><a href="projects.html">Projects</a></li>-->
<!--										<li><a href="single-project.html">Single Project</a></li>-->
<!--									</ul>-->
								</li>
								<li><a href="#">博客</a>
<!--									<ul class="sub-menu">-->
<!--										<li><a href="services.html">Service</a></li>-->
<!--										<li><a href="single-service.html">Single Service</a></li>-->
<!--									</ul>-->
								</li>
								<li><a href="#">联系</a></li>
								<li><a href="/shop">商城</a>
								<!--商城menu-->
									<ul class="sub-menu">
										<li><a href="#">矿机</a></li>
										<li><a href="checkout.html">矿池</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<!--购物车-->
										<a class="shopping-cart" href="/shop"><i class="fas fa-shopping-cart"></i></a>
										<!--我的账户mobile-hide search-bar-icon<i class="fas fa-search"></i>-->
										<a class="" href="#">我的账户</a>
										<ul class="sub-menu">
										<!--这个会通过urls path的路由去找login函数-->
										<li style="text-align: center"><a href="/login" >登陆</a></li>
										<!---->
										<li style="text-align: center"><a href="/register">注册</a></li>
									</ul>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->

	<!-- end search area -->





<!--	************************************************内容**********************************************-->





<!--定义模板内容区域-->
{% block content %}
	<!-- hero area -->
	<!--轮播图区域-->
<!--	<div class="hero-area hero-bg wave-bg">-->
<!--		<div class="container">-->
<!--			<div class="">-->
<!--				<div class="col-lg-8 offset-lg-2 text-center">-->
<!--					<div class="hero-text">-->
<!--						<div class="hero-text-tablecell">-->
<!--&lt;!&ndash;							<p class="subtitle">Fast And reliable</p>&ndash;&gt;-->
<!--&lt;!&ndash;							<h1>Construction &amp; Plumber Industry</h1>&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="hero-btns">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="projects.html" class="boxed-btn">Our project</a>&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="contact.html" class="bordered-btn">Get a quote</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--							&lt;!&ndash;显示ip&ndash;&gt;-->
<!--&lt;!&ndash;							<ul>&ndash;&gt;-->
<!--&lt;!&ndash;								<li>User:{{ user }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li>User_Agent:{{ user_agent }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li>IP Address:{{ ip }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;							</ul>&ndash;&gt;-->




<!--							&lt;!&ndash;轮播图区域&ndash;&gt;-->

<!--&lt;!&ndash;							<link rel="stylesheet" href="jquery.bxslider/jquery.bxslider.css"/>&ndash;&gt;-->
<!--&lt;!&ndash;							<ul class="bxslider">&ndash;&gt;-->
<!--&lt;!&ndash;								{% for photo  in  photos %}&ndash;&gt;-->
<!--&lt;!&ndash;								<li style="background:url('{{ photo.src }}') center 0">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="{{ photo.href }}" title="{{ photo.title }}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								{% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;							</ul>&ndash;&gt;-->
<!--&lt;!&ndash;							<script src="jquery-1.12.4.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;							<script src="jquery.bxslider/jquery.bxslider.js"></script>&ndash;&gt;-->

<!--&lt;!&ndash;							<script>&ndash;&gt;-->
<!--&lt;!&ndash;								$(document).ready(function () {&ndash;&gt;-->
<!--&lt;!&ndash;										$('.bxslider').bxSlider();&ndash;&gt;-->
<!--&lt;!&ndash;								});&ndash;&gt;-->

<!--&lt;!&ndash;							</script>&ndash;&gt;-->

<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->




	<!-- end hero area -->

	<!--定义基础模版的默认内容空间-->

	<!--        <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>-->





{% endblock %}





<!--****************************************************底部***************************************-->
	<!-- logo carousel -->
<!--	<div class="logo-carousel-section">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-12">-->
<!--					<div class="logo-carousel-inner">-->
<!--						{% load static %}-->
<!--						<div class="single-logo-item">-->

<!--							<img src="{% static 'img/company-logos/1.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'img/company-logos/2.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'img/company-logos/3.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'img/company-logos/4.png' %}" alt="">	</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--&lt;!&ndash;						<div class="single-logo-item">&ndash;&gt;-->
<!--&lt;!&ndash;							<img src="{% static 'img/company-logos/5.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--		</div>-->
<!--	</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- end logo carousel -->

	<!-- footer -->
<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">关于我们</h2>
						<p></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">保持联系</h2>
						<ul>
<!--							<li>1600 Amphitheatre Parkway Mountain View CA 94043</li>-->
<!--							<li>info.plumbing@gmail.com</li>-->
<!--							<li>+61 800 559 6580</li>-->
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">链接</h2>
						<ul>
							<li><a href=" ">Home</a></li>
							<li><a href="#">关于我们</a></li>
							<li><a href="#">服务</a></li>
							<li><a href="#">项目</a></li>
							<li><a href="/news">节点新闻</a></li>
							<li><a href="#">联系</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">订阅</h2>
						<p>订阅我们的邮件列表以获取您的电子邮件收件箱的更新。</p>
						<!--邮件发送-->
						<form action="#">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
</div>
	<!-- end footer -->
	
	<!-- copyright -->
<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 All Rights <a href="#" title="bootstrapmb">节点科技</a>.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
	<!-- end copyright -->
<!--{% load static %}加载路径 + {% static "文件真实路径进行拼接"%}-->

	<!-- jquery -->
	<script src= "{% static 'js/jquery-1.11.3.min.js' %}"></script>

	<!-- barfiller -->
<!--	{% load static %}-->
	<script src="{% static 'js/barfiller.js' %}"></script>

	<!-- bootstrap -->
	<script src="{% static 'js/bootstrap-4.2.1.min.js' %}"></script>

	<!-- counter up -->
	<script src="{% static 'js/jquery.counterup.min.js' %}"></script>

	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.4.min.js' %}"></script>

	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>

	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>

	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

	<!-- gmap3 -->
	<script src="{% static 'js/gmap3.js3.js' %}"></script>

	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>

	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>

	<!-- google map api key -->
	<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyDhS7XxNIj1f3R_86v0YVTBdCTJwIcUReI&region=GB"></script>

	<!-- main js -->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>